
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header part */

header{
    background-color: #FF900E1A;
}
/* navbar part */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.navbar h3{
    font-size: 1.5em;
    font-weight: 700;
}

.navbar ul{
    display: flex;
    padding: 0;
    gap: 40px;
}

.navbar ul li{
    list-style: none;
    color: #424242;
    font-weight: 500;
    font-size: 0.85em;
    /* padding: 3%; */

}

/* banner part */

.banner{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner h2{
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 20%;
    margin-top: 3%;
}
.banner p{
    font-size: 0.8em;
    font-weight: 400;
    color: #727272;
    margin: 2% 17%;
}

.banner img{
    width: 100%;
    margin-bottom: 2%;
}

 .button1{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 1.5% 4%;
    border: none;
    font-weight: 600;
    font-size: 1em;
    color: white;
    margin-bottom: 5%;
}

/* quick-look part */
.quick-look{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    gap: 24px;
}
.collage img{
    /* width: 50%; */
    width: 100%;
    /* padding: 10%; */
    
}
.col-detalis{
    width: 50%;
    margin: 6%;
}
#s1{
    color: #727272;
    font-size: 1.6em;
    font-weight: 500;
}
#s2{
    font-size: 1.6em;
    font-weight: 700;
}
#s3{
    font-size: 1.6em;
    font-weight: 700;
    color: #FF900E;
}

.quick-look p{
     font-size: 0.8em;
    font-weight: 400;
    color: #727272;
    /* margin: 2% 17%; */
    margin-bottom: 5%;
}
.col-detalis button{
    padding: 3% 7%;
}





@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .banner h2{
        margin-bottom: 5%;
        font-size: 2.1em;
    }
    .banner button{
        margin: 5% 0 11% 0;
        padding: 2.7% 4%;
    }
    .quick-look{
        flex-direction: column;
    }
    .collage{
        width: 100%
    }
    .col-detalis{
        width: 100%;
    }


}
